@charset "UTF-8";

body { 
    background-color: aliceblue;
}

p {
    margin: 15px 0px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 30px;
    line-height: 1em;
}

header {
    background-color: rgb(0, 255, 76);
    min-height: 150px;
    text-align: center;
    height: auto;

}

header > h1 {
    color: white;
    margin-bottom: 20px;

}

header > p {
    color: white;
    max-width: 500px;
}

nav {
    background-color: lightcoral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-style: italic;
    transition-duration: 1s;
    border-radius: 5px;
    padding-top: 0ch;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

footer {
    background-color: aliceblue;
}
aside {

    background-color: aliceblue;
}